<!DOCTYPE html>
<html lang="en">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
	<meta charset="UTF-8">
	<title>The Nudge</title>
	<link rel="stylesheet" href="../static/css/teacherdbstyle.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".hamburger").click(function(){
			   $(".wrapper").toggleClass("collapse");
			});
		});
	</script>
</head>
<body>

<div class="wrapper">
  <div class="top_navbar">
    <div class="hamburger">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo">THE NUDGE</div>
      <ul>
        <li><a href="#">
          <i class="fas fa-search"></i></a></li>
        <li><a href="#">
          <i class="fas fa-bell"></i>
          </a></li>
        <li><a href="#">
          <i class="fas fa-user"></i>
          </a></li>
      </ul>
    </div>
  </div>
  
  <div class="sidebar">
	<ul>
        <li><a href="#" class="active">
            <span class="icon"><i class="fas fa-square"></i></span>
            <span class="title">Schedule</span></a></li>
        <li><a href="#">
            <span class="icon"><i class="fas fa-book"></i></span>
            <span class="title">Attendance</span>
          </a></li>
        <li><a href="#">
            <span class="icon"><i class="fas fa-book"></i></span>
            <span class="title">Assign marks</span>
          </a></li>
        <li><a href="#">
            <span class="icon"><i class="fas fa-book"></i></span>
            <span class="title">Leave request</span>
          </a></li>
        <li><a href="#">
            <span class="icon"><i class="fas fa-link"></i></span>
            <span class="title">Shoot imp links</span>
          </a></li>
      </ul>
  </div>

  <!--///////////////////////// need data from database for assigning slots to teachers////////////////////////////// -->

  <div class="main_container">
<div class="item">
	<table class="table table-striped">
	<thead>
		<tr>
		<th>Time Slot</th>
		<th id="demo">Batch</th>
		</tr>
	</thead>
	<tbody>
		{%for item in schedule%}
		<tr>
		<td>{{item.slot}}</td>
		<td>{{item.batch}}</td>
		</tr>
	{%endfor%}
	</tbody>
	</table>
</div>
</div>
	
<script>
function myFunction() {
  var d = new Date();
  var n = d.getDay()
  document.getElementById("demo").innerHTML = n;
}
</script>
</body>
</html>
