<!-- This page is used by the teacher to let the admin know that he/she might need a few days' leave -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>THE/NUDGE</title>
  <!-- CSS stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/teacherdbstyle.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    $(document).ready(function () {
      $(".hamburger").click(function () {
        $(".wrapper").toggleClass("collapse");
      });
    });
  </script>
</head>

<body>

  <div class="wrapper">
    <div class="top_navbar">
      <div class="hamburger">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <div class="top_menu">
        <div class="logo">THE NUDGE</div>
        <ul>
          <li><a href="#">
              <i class="fas fa-search"></i></a></li>
          <li><a href="#">
              <i class="fas fa-bell"></i>
            </a></li>
          <li><a href="#">
              <i class="fas fa-user"></i>
            </a></li>
        </ul>
      </div>
    </div>

    <div class="sidebar">
      <ul>
        <li><a href="/teachers/schedule">
            <span class="icon"><i class="fas fa-square"></i></span>
            <span class="title">Schedule</span></a></li>
        <li><a href="/teacher_batches_attendance">
            <span class="icon"><i class="fas fa-book"></i></span>
            <span class="title">Attendance</span>
          </a></li>
        <li><a href="/teacher_batches_marks">
            <span class="icon"><i class="fas fa-book"></i></span>
            <span class="title">Assign marks</span>
          </a></li>
        <li><a href="#">
            <span class="icon"><i class="fas fa-book" class="active"></i></span>
            <span class="title">Leave request</span>
          </a></li>
        <li><a href="#">
            <span class="icon"><i class="fas fa-link"></i></span>
            <span class="title">Shoot imp links</span>
          </a></li>
      </ul>
    </div>

    <div class="main_container">

      <form action="/teacher_noticeto_admin" method="POST">
      <div class="item">
        <h1>Permission for leave</h1>
      </div>
      <div class="item  text-center">
        <div class="form-group">
          <label for="sel1"><h5>Select the batches you are incharge of:</h5></label>
	<div class="item">
          <select class="form-control" id="sel1" name="batch">
            <option>B1</option>
            <option>B2</option>
            <option>B3</option>
            <option>B4</option>
          </select>
	</div>
       <div class="item">
          <select class="form-control" id="sel1" name="batch" placecard="Select">
            <option>B1</option>
            <option>B2</option>
            <option>B3</option>
            <option>B4</option>
	    <option>-</option>
          </select>
	</div>
        <div class="item">
          <select class="form-control" id="sel1" name="batch">
            <option>B1</option>
            <option>B2</option>
            <option>B3</option>
            <option>B4</option>
	    <option>-</option>
          </select>
	</div>
        <div class="item">
          <select class="form-control" id="sel1" name="batch">
            <option>B1</option>
            <option>B2</option>
            <option>B3</option>
            <option>B4</option>
	    <option>-</option>
          </select>
	</div>
        </div>
        <button class="btn btn-warning" type="submit">Duration</button>
      </div>
      <!-- Jinja will be used -->
      <div class="item">
        <div>
           <form action=/register/userdata" method = "POST">
                            <div class = "input-group"><h4>Start date:</h4>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                <input type = "date" class = "form-control" id = "dob" name = "dob">
                            </div>
				<br>
                            <div class = "input-group"><h4>End date:</h4>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                <input type = "date" class = "form-control" id = "dob" name = "dob">
                            </div>
           </form>
        

	</div>
      </div>
      <div class="item text-center">
        <button type="submit" class='btn btn-success'>Submit</button>
      </div>
    </form>
    </div>
  </div>

</body>

</html>
