<!-- This is the teacher's dashboard -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>THE/NUDGE</title>
	<link rel="stylesheet" href="../static/css/teacherdbstyle.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".hamburger").click(function(){
			   $(".wrapper").toggleClass("collapse");
			});
		});
	</script>
</head>
<body>

<div class="wrapper">
  <div class="top_navbar">
    <div class="hamburger">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo">THE NUDGE</div>
      <ul>
        <li><a href="#">
          <i class="fas fa-search"></i></a></li>
        <li><a href="#">
          <i class="fas fa-bell"></i>
          </a></li>
        <li><a href="#">
          <i class="fas fa-user"></i>
          </a></li>
      </ul>
    </div>
  </div>
  
  <div class="sidebar">
      <ul>
        <li><a href="#">
          <span class="icon"><i class="fas fa-square"></i></span>
          <span class="title">Schedule</span></a></li>
        <li><a href="#">
          <span class="icon"><i class="fas fa-book"></i></span>
          <span class="title">Calender of events</span>
          </a></li>
        <li><a href="/teacher_batches_attendance">
          <span class="icon"><i class="fas fa-book"></i></span>
          <span class="title">Attendance</span>
          </a></li>
        <li><a href="/teacher_batches_marks" class="active">
          <span class="icon"><i class="fas fa-book"></i></span>
          <span class="title">Assign marks</span>
          </a></li>
        <li><a href="#">
          <span class="icon"><i class="fas fa-book"></i></span>
          <span class="title">Syllabus</span>
          </a></li>
	<li><a href="#">
          <span class="icon"><i class="fas fa-leaf"></i></span>
          <span class="title">Resources</span>
          </a></li>
	<li><a href="#">
          <span class="icon"><i class="fas fa-book"></i></span>
          <span class="title">Leave request</span>
          </a></li>
	<li><a href="#">
          <span class="icon"><i class="fas fa-link"></i></span>
          <span class="title">Shoot imp links</span>
          </a></li>
    </ul>
  </div>
  
  <div class="main_container">
    <div class="item">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut sapiente adipisci nemo atque eligendi reprehenderit minima blanditiis eum quae aspernatur!
    </div>
    <div class="item">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut sapiente adipisci nemo atque eligendi reprehenderit minima blanditiis eum quae aspernatur!
    </div>
    <div class="item">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut sapiente adipisci nemo atque eligendi reprehenderit minima blanditiis eum quae aspernatur!
    </div>
    <div class="item">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut sapiente adipisci nemo atque eligendi reprehenderit minima blanditiis eum quae aspernatur!
    </div>
  </div>
</div>
	
</body>
</html>
